[general]
; The author of a remark. May be editable during creation if "author_editable" configuration is set to true (see below)
author="Developer"

; currently unused
;project_name="[project]"

; The current version of the project. Use [project] if you want to infer this from the ProjectSettings ("application/config/version")
project_version="[project]"

[config]
; Location of the file used for overriding this configuration.
; If a configuration file exists at this path, use it to override the default configuration for each listed attribute.
; This can be used to override specific values for different users (e.g. the author property) outside version control.
; If you want to ensure users cannot override the configuration, comment this out.
; This preferred over export_override (i.e. override is applied after export_override).
; Note that nested overrides are not supported.
override="user://spatial_remarks/sr_config_override.cfg"

; Location of the file used for overriding this configuration for exported builds. See "override" attribute above.
; Note that nested overrides are not supported.
export_override="res://addons/spatial_remarks/sr_config_export.cfg"

[data]
; How spatial remark data is stored. Currently, only "json" is supported
; "json": save the scene locally as json file
; "http": (EXPERIMENTAL) uses http requests to read/save to a url location (used format is still json)
source_type="json"
; WARNING REGARDING HTTP REQUESTS (as used by source_type="http"):
; Be aware that someone might analyse and decompile your released application 
; and thus may gain access to any embedded authorization information like 
; tokens, usernames or passwords. 
; That means it is usually not a good idea to embed things such as database access credentials 
; inside your game. Avoid providing information useful to an attacker whenever possible.
; (from https://docs.godotengine.org/en/stable/tutorials/networking/http_request_class.html)

; The location of the data. 
; In case a local source_type such as json is used, this is a file path, e.g "res://spatial_remarks.json"
; 	Ideally, the folder is the same for screenshots
; Otherwise this could be a database.
location="res://spatial_remarks/spatial_remarks.json"
;location="https://webhook.site/077a9ed8-486e-458e-a0bf-58bdd1162729/"

; Location of screenshots for spatial remarks
; 	Ideally use the same folder where the remarks are stored
screenshot_location="res://spatial_remarks/"

; API for http requests. Only used for source_type="http"
; e.g. if location="https://my.example.url/" and http_create="create" then
; the request for creating new SRData will be "https://my.example.url/create"
http_read_all="read_all"
http_create="create"
http_update="update"
http_save_all="save_all"
http_delete="delete"

[creation]
; If true, the creator of a remark can edit the "author" field
author_editable=true
; If true, the position of a remark will be displayed during creation
show_position=true

; How the scene will be displayed during creation.
; "path": show the path to the scene, e.g. res://levels/example_level.tscn
; "name": show only the name of the scene, e.g. "ExampleLevel"
; "none": this field will not be displayed
; The remark will be stored as path in any case
scene_name_display="path"

; If true, the target node is displayed during creation
show_target_node=false

; If true, the target node can be selected from all possible matches during creation.
target_node_selectable=false

; The maximum amounts of items that will be returned by the 2D / 3D queries for selecting elements
max_num_query_results=20

; How far away objects may be recognized for creating remarks
max_3d_range=50.0

;create screenshots - not implemented
; "never": no screenshot will be created
; "choose": choose when creating the remark
; "always": always create screenshots. Use with caution, since this may use a lot of disk space with many remarks.
; create_screenshots="choose"

;create db snapshot - currently not possible -> https://github.com/godotengine/godot-proposals/issues/14663
; "never": no db snapshot will be created
; "choose": choose when creating the remark
; "always": always create db snapshots. Use with caution if db snapshots become very large.
; create_dbsnapshot="choose"

;include logs
; "never": no screenshot will be created
; "choose": choose when creating the remark
; "always": always create screenshots. Use with caution, since this may use a lot of disk space with many remarks.
include_logs="choose"

; how many log lines will be added, if included
max_log_lines=50

; currently unused
;category_selectable=false

[display]
; The used collision layer for showing remark information ingame
; Using an unused collision layer is recommended
; If this is 0, no further remark information will be displayed
collision_layer_number=32

; Instead of using a combination of pickable input and a visible mouse, use a raycast
; Note: using the correct raycast relies on access to the current camera.
; If the current camera changes during showing SR, the raycast won't automatically change
use_raycast_for_display=true
